*{
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

/* Navbar Of the Find Blood page */

.nav-container{
    border-bottom: 2px solid rgba(255, 0, 0, 0.1);
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: aliceblue;
}

.nav-container .nav-option-container{
    display: flex;
    justify-content: space-around;
    width: 70vw;
    height: 30px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-option{
    height: 30px;
    text-decoration: none;
    font-size: 1.60rem;
    font-weight: 600;
    color: #DC2F02;
    transition: 0.5s ease;
    padding: 3px;
    border-bottom: 3px solid transparent;
}

.nav-option:hover{
    color: red;
    border-bottom: 3px solid red;
}

.nav-container i{
    font-size: 2rem;
    color: red;
    margin-left: 2rem;
    padding: 1rem 1rem;
}

.nav-container .active{
    border-bottom: 3px solid red;
}

.login{
    border: 2px solid red;
    height: 1.50rem;
    width: fit-content;
    padding-left: 1.10rem;
    padding-right: 1.10rem;
    padding-top: 0.35rem;
    padding-bottom: 0.55rem;
    border-radius: 1.25rem;
    font-size: 1.40rem;
}

.login:hover{
    border: 2px solid #9D0208;
    background-color: red;
    color: white;
}