*{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
}

/* Navbar Of the registering page */

.nav-container{
    border-bottom: 2px solid rgba(255, 0, 0, 0.5);
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container .nav-option-container{
    display: flex;
    justify-content: space-around;
    width: 70vw;
    height: 30px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-option{
    height: 30px;
    text-decoration: none;
    font-size: 1.60rem;
    font-weight: 600;
    color: #DC2F02;
    transition: 0.5s ease;
    padding: 3px;
    border-bottom: 3px solid transparent;
}

.nav-option:hover{
    color: red;
    border-bottom: 3px solid red;
}

.nav-container i{
    font-size: 2rem;
    color: red;
    margin-left: 2rem;
    padding: 1rem 1rem;
}

.nav-container .active{
    border-bottom: 3px solid red;
}

.login{
    border: 2px solid red;
    height: 1.50rem;
    width: fit-content;
    padding-left: 1.10rem;
    padding-right: 1.10rem;
    padding-top: 0.35rem;
    padding-bottom: 0.55rem;
    border-radius: 1.25rem;
    font-size: 1.40rem;
}

.login:hover{
    border: 2px solid #9D0208;
    background-color: red;
    color: white;
}

/* Register Form Input*/

.form-list-demo{
    /* background-color: #9D0208; */
    width: 100vw;
    height: 555px;
    padding: 1rem 1rem;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
}

.form-list-demo .form{
    /* background-color: aqua; */
    height: 515px;
    width: 30vw;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
}

.form-list-demo .form .form-input{
    background-color: #9D0208;
    height: 200px;
}


.form-list-demo .form .input{
    background-color: whitesmoke;
    border-radius: 3px;
    height: 30px;
    width: 20rem;
    border: 0.5px solid rgba(255, 0, 0, 0.5);
    margin-top: 0.50rem;
    margin-bottom: 0.50rem;
    font-size: 1.20rem;
    font-weight: 500;
}

.form-list-demo .form .donor-name{
    margin-top: 2.5rem;
}

.form-list-demo .form #register{
    background-color: red;
    color: aliceblue;
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 3rem;
    width: 20.40rem;
    text-align: center;
    border-radius: 3px;
    font-size: 1.50rem;
    font-weight: 500;
    margin-top: 1rem;
}

/* After Register Blood List Demo */

.list-demo{
    /* background-color: aqua; */
    height: 515px;
    width: 62vw;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    margin-left: 10px;
}

.list-demo .donor-detail{
    border: 2px solid rgba(255, 0, 0, 0.5);
    border-radius: 5px;
    /* background-color: yellow; */
    height: 200px;
    width: 55vw;
    margin: 1rem;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.25rem;
    font-weight: 500;
}

.donor-detail-3{
    border: 2px solid transparent;
    border-radius: 5px;
    /* background-color: yellow; */
    height: 200px;
    width: 55vw;
    margin: 1rem;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.25rem;
    font-weight: 500;
}

.donor-detail-3-add{
    border: 2px solid rgba(255, 0, 0, 0.5);
    border-radius: 5px;
    /* background-color: yellow; */
    height: 200px;
    width: 55vw;
    margin: 1rem;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.25rem;
    font-weight: 500;
}

